:root {
    --light-main-color: rgb(240, 236, 243);
    --main-color: rgb(221, 210, 231);
    --dark-main-color: rgb(176, 149, 199);
    --dark-dark-color: rgb(121, 92, 146);
    --extremly-dark-color: rgb(56, 37, 73);
}

body {
    background-color: var(--light-main-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui;
    color: var(--extremly-dark-color);
}

.container {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    width: 100%;
}

.info-block {
    border-radius: 15px;
    width: 75%;
    margin-top: 5%;
    padding: 10px;
    background-color: var(--main-color);
}

.info-block h2 {
    display: flex;
    justify-content: center;
}

.info-block button{
    width: 100px;
    margin: 10px;
}

.name-buttons {
    margin: 10px;
    display: flex;
    justify-content: center;
}

button {
    border-radius: 15px;
    padding: 0.5%;
    border: none;
    background-color: var(--dark-main-color);
    color: white;
}

button:hover {
    background-color: var(--dark-dark-color);
    cursor: pointer;   
}

.girl-info {
    background-color: var(--main-color);
    border-radius: 15px;
    width: auto;
    margin: 3%;
    padding: 1%;
}

.girl-info h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.results {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: inherit;
}

#result {
    width: 300px;
}

